/*
    The title bar style. 
*/

QFrame {
    background-color: #1E1E1E;
}

QPushButton {
    background-color: #1E1E1E;
    margin: 0px;
}

QPushButton:hover {
    background-color: #d00902;
    border-radius: 5px;
}

QToolTip {
    background-color: #1E1E1E;
    border-radius: 10px;
    color: #0089b3;
    padding: 7px;
}