/*
    The title bar style. 
*/
#CTitleBar{
    border-bottom: 2px white;
    border-radius: 5px;
}

#CloseBtn{
    background-color: transparent;
}

#CloseBtn:hover{
    background-color: red;
}

QPushButton{
    background-color: transparent;
}

QPushButton:hover {
    border: 2px white;
    border-radius: 5px;
}